<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Insert third-party APIs here-->
        <!-- <link rel="stylesheet" type="text/css" href="#reset.css" /> -->
        <link rel="stylesheet" type="text/css" href="../css/home.css" />
        <link rel="stylesheet" href="https://use.typekit.net/fho4gzq.css">
        <link rel="stylesheet" href="../../src/fonts/fonts.css">
        <!-- Third-Party Fonts.css -->
        <link rel="stylesheet" type="text/css" href="#main.css" />
        <title>Home Page Template</title>
        </head>
        <body>
            <header>
                <h1 id="title-header">DEV WULF</h1>
                <button>|||</button>
            </header>
            <main>
                <!-- image -->
                <section>
                    <img src="../../src/components/images/dev-profile.png" alt="profile pic">
                </section>
                <!-- bio -->
                <section>
                    <h2>Hello, I'm Dev.</h2>
                    <p>
                        I’m a web developer and graphic designer based in Dallas, Texas. 
                        I’ve been exploring graphic design and web development since Tom 
                        was in my Top 8. After a number of years in a industry I found was not 
                        meant for me,  I took a step into the unknown as a creative designer.  
                    </p>
                    <p>
                        Most of my time is spent writing music, playing or attending shows 
                        around town, walking my dog Nugget, or mowing my lawn.
                    </p>
                    <h3>
                        Technologies
                    </h3>
                    <p>
                        Full Stack MERN,  Bootstrap, Chakra, Parallax,
                        MySQL Procreate, Photoshop, Illustrator, 
                        and Adobe XD.
                    </p>
                </section>
            </main>
            <footer>
                <h4>©2022 WULFSOUNDS ++ CREATED OUT OF DESIRE ++ DEV@WULFSOUNDS</h4>
            </footer>
        </body>
        <!-- Self-Coded -->
        <script type="text/javascript" src="#"></script>
</html>