<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Insert third-party APIs here-->
        <!-- <link rel="stylesheet" type="text/css" href="#reset.css" /> -->
        <link rel="stylesheet" type="text/css" href="../css/home.css" />
        <link rel="stylesheet" href="https://use.typekit.net/fho4gzq.css">
        <link rel="stylesheet" href="../../src/fonts/fonts.css">
        <!-- Third-Party Fonts.css -->
        <link rel="stylesheet" type="text/css" href="#main.css" />
        <title>Home Page Template</title>
        </head>
        <body>
            <header>
                <h1 id="title-header">DEV WULF</h1>
                <button>|||</button>
            </header>
            <main>
                <!-- image -->
                <section>
                    <img src="../../src/components/images/dev-profile.png" alt="profile pic">
                </section>
                <!-- bio -->
                <section>
                    <h2>Hello, I'm Dev.</h2>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi dolor nobis culpa repellendus. Eaque esse consequuntur quas corporis, aspernatur repellendus rem. At eius earum sint laboriosam necessitatibus mollitia, dolor unde.
                    </p>
                    <h3>
                        Technologies
                    </h3>
                    <p>
                        Languages and things.
                    </p>
                </section>
            </main>
            <footer>
                <h4>Enter footer info here.</h4>
            </footer>
        </body>
        <!-- Self-Coded -->
        <script type="text/javascript" src="#"></script>
</html>