@font-face {
    font-family: 'NeutralFace-Bold';
    src: local('NeutralFace-Bold'),
        url('./fonts/NeutralFace-Bold.woff') format('woff'),
        url('./fonts/NeutralFace-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'NeutralFace';
    src: local('NeutralFace'),
        url('./fonts/NeutralFace-Bold.woff') format('woff'),
        url('./fonts/NeutralFace.woff2') format('woff2');
}

* {
    color: #000000 !important;
}

/* Home Page */
body {
    background-color: #F2EFE4 !important;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: 3px red solid; */
}

main {
    display: flex !important;
    justify-content: space-around !important;
    padding: 0px 100px 0px 100px !important;
    margin-top: 30px;
    /* border: red solid 3px; */
    max-height: 450px !important;
}

section {
    width: 625px;
    max-height: 450px;
    /* border: yellow solid 3px; */
}

.bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#title-header {
    font-family: 'NeutralFace-Bold', sans-serif !important;
    font-weight: 900 !important;
    font-style: normal !important;
    font-size: 110px !important;
    line-height: 125px !important;
    margin: 25px 0 0 25px !important;
    color: #000000;
}

img {
    width: 450px;
    border-radius: 300px 300px 50px 50px;
    outline: #000000 10px solid !important;
    border: #ffffff 5px solid !important;
}

h2,
h3 {
    font-family: neue-haas-grotesk-display, sans-serif !important;
    font-weight: 900 !important;
    font-style: normal;
}

h2 {
    font-size: 35px !important;
}

h3 {
    font-size: 24px !important;
}

h4 {
    font-family: 'NeutralFace-Bold', sans-serif !important;
    font-weight: 500 !important;
    font-style: normal;
}

p {
    font-family: neue-haas-grotesk-display, sans-serif !important;
    font-weight: 500 !important;
    font-style: normal;
    font-size: 20px !important;
}

/* MenuDeck, MenuItems */
.drawer {
    background-color: #755B83;

}

.drawer-body {
    margin: 0px !important;
}

.menu {
    font-family: 'NeutralFace-Bold', sans-serif !important;
    font-weight: 900 !important;
    font-style: normal !important;
    font-size: 110px !important;
    color: #F2EFE4 !important;
}

.drawer-main {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: center;
    padding: 0;
    /* border: red 3px solid; */
}

.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* border: #000000 solid 3px; */
}

.home-link {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
}

.home-link:hover {
    background: var(--chakra-colors-blackAlpha-50);
}

.chakra-accordion {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 65em;
    flex-shrink: 0;
    /* border: red 3px solid; */
}

.css-1d0ox2v {
    /* border: red 3px solid; */
    color: #F2EFE4;
    padding: 0px !important;
    background-color: transparent !important;
}

.menu-links {
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-start !important;
}

.css-17mg6aq {
    border: none;
}

.menu-section {
    display: flex;
    justify-content: space-around;
    width: 75em !important;
    margin-top: 100px;
    /* padding: 25px; */
}

.folio {
    position: relative;
    min-width: 134px;
    /* border: red solid 2px; */

}

.menu-item {
    display: flex !important;
    font-family: 'NeutralFace-Bold', sans-serif !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 40px !important;
    color: #F2EFE4 !important;
    /* align-items: center; */
    /* min-width: 250px; */
}



/* Buttons */

.btn {
    background-color: transparent !important;
    padding: 0px;
    /* margin-right: 25px; */
    /* outline: red solid 2px !important; */
}

.main {
    /* margin-right: 25px; */
}

.closeBtn {
    margin-right: 30px;
    margin-top: 15px;
}

ul {
    display: flex;
    flex-direction: row;
    width: 100em;
    margin-top: 100px !important;
    justify-content: space-around;
    /* border: red solid 3px; */
}

li {
    display: flex;
    flex-direction: column;
}

.link {
    /* display: block; */
    font-family: neue-haas-grotesk-display, sans-serif !important;
    font-weight: 500 !important;
    font-size: 30px;
    color: #F2EFE4 !important;
}

/* DESIGNER */
.designer {
    background-color: #ffffff;
    background-image: url('./components/images/DNDYlogo.png') !important;
    
    border-radius: 25px !important;
}

.folio-head {
    font-family: 'NeutralFace-Bold', sans-serif !important;
    font-weight: 900 !important;
    font-style: normal !important;
    font-size: 110px !important;
    color: #F2EFE4 !important;
    mix-blend-mode: exclusion;
}

/* DEVELOPER */
.developer {
    background-color: #ffffff;
    border-radius: 25px !important;;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
}

.vh {
    min-height: calc(100vh - 200px);
}